{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="panel">
        <section class="panel-body">
            <div class="content-header">
                <div class="row">
                    <div class="col-sm-9">
                        <h1 class="title">Dashboard</h1>
                    </div>
                    <div class="col-sm-9">
                       <section class="container-fluid">
                           <p>hashodasl</p>
                       </section>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}
